body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

input{
    display: none;
}

label{
    width: 16rem;
    height: 6rem;
    background-color: skyblue;
    border-radius: 9999px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.circle{
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0.5rem;
    z-index: 1;
    transition: 0.5s;
}

.sun{
    width: 3rem;
    height: 3rem;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    transition: 0.5s;
}

.clouds{
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 2.5rem;
    top: 1rem;
}

.cloud1{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 1.5rem;
    left: 0.75rem;
}

.cloud2{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2rem;
    left: -0.2rem;
}

.cloud3{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2rem;
    right: -0.2rem;
}

input[type="checkbox"]:checked + label {
    background-color: black;
}

input[type="checkbox"]:checked + label .circle{
    left: 10.5rem;
    transition: 0.5s;
}

input[type="checkbox"]:checked + label .sun{
    top: 1rem;
    transition: 0.5s;
}

input[type="checkbox"]:checked + label .light{
    opacity: 0;
    /* display: none; */
    transition: 0.5s;
}

input[type="checkbox"]:checked + label .dark{
    opacity: 1;
    transition: 0.5s;
}

input[type="checkbox"]:checked + label .moon{
    top: 1rem;
    transition: 0.5s;
}

.dark{
    opacity: 0;
}

.moon{
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 50%;
    position: absolute;
    left: 2rem;
    top: -2rem;
    transition: 0.5s;
}

.star1{
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 6rem;
}

.star2{
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3rem;
    left: 7rem;
}

.star3{
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3.5rem;
    left: 2rem;
}

